<div class="panel-heading">
  Organization Structure Details
</div>
<div class="panel-body">
<p>
  <strong>Name:</strong>
  <%= @organization_structure.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @organization_structure.code %>
</p>

<p>
  <strong>Organization structure type:</strong>
  <%= @organization_structure.organization_structure_type %>
</p>

<p>
  <strong>Parent organization structure:</strong>
  <%= @organization_structure.parent_organization_structure_id %>
</p>
<hr/>
<%= link_to 'Edit', edit_organization_structure_path(@organization_structure) %> |
<%= link_to 'Back', organization_structures_path %>
</div>