  <div class="panel-heading">
    Profile
  </div>

  <div class="panel-body">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Father name:</strong>
      <%= @user.father_name %>
    </p>

    <p>
      <strong>Grand father name:</strong>
      <%= @user.grand_father_name %>
    </p>

    <p>
      <strong>Organization structure:</strong>
      <%= @user.organization_structure %>
    </p>

    <p>
      <strong>Facility:</strong>
      <%= @user.facility %>
    </p>
  </div>