<table class="table table-striped table-hover dataTable js-exportable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Facility type</th>
    <th>Category</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= facility.facility_type %></td>
        <td><%= facility.category %></td>
        <td>
          <%= link_to 'Details', facility %> |
          <%= link_to 'Edit', edit_facility_path(facility) %> |
          <%= link_to 'Delete', facility, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/><br/>
<%= link_to 'New Facility', new_facility_path(organization_structure: @organization_structure.try(:id)), class: 'btn btn-primary' unless @organization_structure.blank? %>