<%= simple_form_for(@facility) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :organization_structure_id, collection: [@organization_structure] %>
    <%= f.input :name %>
    <%= f.association :facility_type %>
    <%= f.input :category, collection: ['Public', 'Private', 'NGO'] %>
    <%= f.input :url %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :population %>
    <%= f.input :note %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
