<div class="panel-heading">
  Facility Details
</div>
<div class="panel-body">
<p>
  <strong>Organization structure:</strong>
  <%= @facility.organization_structure %>
</p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @facility.facility_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @facility.category %>
</p>

<p>
  <strong>Url:</strong>
  <%= @facility.url %>
</p>

<p>
  <strong>Population:</strong>
  <%= @facility.population %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @facility.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @facility.longitude %>
</p>
<hr/>
<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
</div>