<table class="table table-striped js-exportable dataTable">
  <thead>
  <tr>
    <th>Unique ART Number</th>
    <th>MRN</th>
    <th>First name</th>
    <th>Father name</th>
    <th>Grand father name</th>
    <th>Mother first name</th>
    <th>Gender</th>
    <th>Date of birth</th>
    <th>Mobile Telephone</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @art_patients.each do |patient| %>
      <tr>
        <td>
          <% if patient.art_patient.blank? %>
              <%= link_to "Enrol to ART", new_art_patient_path(patient: patient.id), class: 'btn btn-danger' %>
          <% else %>
              <%= patient.art_patient.unique_art_number %>
          <% end %>
        </td>
        <td><%= patient.mrn %></td>
        <td><%= patient.first_name %></td>
        <td><%= patient.father_name %></td>
        <td><%= patient.grand_father_name %></td>
        <td><%= patient.mother_first_name %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.mobile_telephone %></td>
        <td>
          <%= link_to 'Details', patient %> |
          <%= link_to 'Edit', edit_art_patient_path(patient.art_patient) unless patient.art_patient.blank? %> |
          <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>