<table id="dependents" width="100%" %>
  <%= f.simple_fields_for :dependents, :wrapper => false do |df| %>
      <tr class="fields">
        <td><%= df.input :name, placeholder: 'Name', label: false %></td>
        <td><%= df.input :relation, placeholder: 'Relation', label: false %></td>
        <td><%= df.input :age, placeholder: 'Age', label: false %></td>
        <td><%= df.input :health_status, placeholder: 'Health Status', label: false %></td>
        <td><%= df.link_to_remove 'Remove' %></td>
      </tr>
  <% end %>
</table>
<%= f.link_to_add 'Add Dependent', :dependents, data: {target: '#dependents'}, class: 'btn btn-primary' %>