<table class="table" id="dependents" width="100%" %>
  <thead>
  <tr>
    <th>Name</th>
    <th>Relation</th>
    <th>Age</th>
    <th>Health Status</th>
    <th></th>
  </tr>
  </thead>
  <%= f.simple_fields_for :dependents, :wrapper => false do |df| %>
      <tr class="fields">
        <td><%= df.input_field :name, label: false %></td>
        <td><%= df.input_field :relation, collection: ['Husband', 'Wife', 'Child'], label: false %></td>
        <td><%= df.input_field :age, label: false %></td>
        <td><%= df.input_field :health_status, collection: ['Ill', 'Healthy', 'Died'], label: false %></td>
        <td><%= df.link_to_remove 'Remove' %></td>
      </tr>
  <% end %>
</table>
<%= f.link_to_add 'Add Dependent', :dependents, data: {target: '#dependents'}, class: 'btn btn-primary' %>