<div class="panel-heading">
  Patient Detials
</div>
<div class="panel-body">
  <table width="100%">
    <tr>
      <th><legend>MRN #:&nbsp;&nbsp;&nbsp;&nbsp;<%= @art_patient.patient.mrn %></legend></th>
      <th><legend>ART #:&nbsp;&nbsp;&nbsp;&nbsp;<%= @art_patient.unique_art_number %></legend></th>
    </tr>
  </table>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#patient_identification" data-toggle="tab">Patient Identification</a></li>
    <li role="presentation"><a href="#demographic_information" data-toggle="tab">Demographic Information</a></li>
    <li role="presentation"><a href="#patient_address" data-toggle="tab">Patient Address</a></li>
  </ul>
  <div class="tab-content">
    <% @patient = @art_patient.patient %>
    <div role="tabpanel" class="tab-pane fade in active" id="patient_identification">
      <p>
        <label>ART Enrollment Date:</label>
        <%= @art_patient.enrollment_date %>
      </p>
      <p>
        <label>First name:</label>
        <%= @patient.first_name %>
      </p>

      <p>
        <label>Father name:</label>
        <%= @patient.father_name %>
      </p>

      <p>
        <label>Grand father name:</label>
        <%= @patient.grand_father_name %>
      </p>

      <p>
        <label>Gender:</label>
        <%= @patient.gender %>
      </p>

      <p>
        <label>Target Population Category:</label>
        <%= @art_patient.target_population_category %>
      </p>

      <p>
        <label>Birth Date:</label>
        <%= @patient.date_of_birth %>
      </p>

      <p>
        <label>Age:</label>
        <%= @patient.patient_age[0] %> Years, <%= @patient.patient_age[1] %> Months and <%= @patient.patient_age[2] %> Days
      </p>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="demographic_information">
      <p>
        <strong>Marital status:</strong>
        <%= @patient.marital_status %>
      </p>

      <p>
        <strong>Education level:</strong>
        <%= @patient.education_level %>
      </p>

      <p>
        <strong>Religion:</strong>
        <%= @patient.religion %>
      </p>

      <p>
        <strong>Occupation:</strong>
        <%= @patient.occupation %>
      </p>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="patient_address">
      <p>
        <strong>Woreda:</strong>
        <%= @patient.organization_structure %>
      </p>

      <p>
        <strong>Kebele:</strong>
        <%= @patient.kebele %>
      </p>

      <p>
        <strong>House number:</strong>
        <%= @patient.house_number %>
      </p>

      <p>
        <strong>Home telephone:</strong>
        <%= @patient.home_telephone %>
      </p>

      <p>
        <strong>Mobile telephone:</strong>
        <%= @patient.mobile_telephone %>
      </p>
      <p>
        <strong>work telephone:</strong>
        <%= @patient.work_telephone %>
      </p>
    </div>
    <br/>
    <%= link_to 'Edit', edit_art_patient_path(@art_patient) %> |
    <%= link_to 'Back', art_patients_path %>
  </div>
</div>