<%= content_for :header do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        Search / Create Patient
      </div>
      <div class="panel-body">
        <div class="row">
          <%= simple_form_for :patient_search, url: create_from_search_patients_path do |f| %>
              <div class="col-sm-9">
                <table width="100%">
                  <tr>
                    <td>
                      <%= f.input :MRN, label: false, placeholder: 'MRN' %>
                      <%= f.input :phone_number, label: false, placeholder: 'Phone Number' %>
                    </td>
                    <td>
                      <%= f.input :first_name, label: false, placeholder: 'First Name' %>
                      <%= f.input :father_name, label: false, placeholder: 'Father Name' %>
                      <%= f.input :grand_father_name, label: false, placeholder: 'Grand Father Name' %>
                    </td>

                    <td>
                      <%= f.input :Gender, collection: ['Male', 'Female'], label: false, prompt: 'Gender' %>
                      <%= f.input :age, as: :string, label: false, placeholder: 'Age' %></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-3">
                <div class="form-actions">
                  <%= f.button :submit, 'Register New Patient', class: 'btn btn-primary btn-raised' %>
                </div>
              </div>
          <% end %>
        </div>
        <hr/>
        <div id="patients_list">
          <%= render 'patients' %>
        </div>
      </div>
    </div>
<% end %>