<% content_for :header do %>
    <div class="block-header">
      <h2>DASHBOARD</h2>
    </div>

    <div class="row clearfix">
      <%= link_to trainings_path(type: 'upcoming') do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
              <div class="icon">
                <i class="material-icons">event</i>
              </div>
              <div class="content">
                <div class="text">Upcoming Trainings</div>
                <div class="number"><%= @upcoming_trainings.count %></div>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to trainings_path(type: 'Pre-Service') do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
              <div class="icon">
                <i class="material-icons">playlist_add_check</i>
              </div>
              <div class="content">
                <div class="text">Pre-service Trainings</div>
                <div class="number"><%= @pre_trainings.count %></div>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to trainings_path(type: 'In-Service') do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
              <div class="icon">
                <i class="material-icons">playlist_add_check</i>
              </div>
              <div class="content">
                <div class="text">In-service Trainings</div>
                <div class="number"><%= @in_trainings.count %></div>
              </div>
            </div>
          </div>
      <% end %>
      <%= link_to people_path do %>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
              <div class="icon">
                <i class="material-icons">people</i>
              </div>
              <div class="content">
                <div class="text">Total Trainees</div>
                <div class="number"><%= @trainees.count %></div>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <div class="card">
      <div class="header">
        Trainings in Progress
      </div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Training title</th>
          <th>Training type</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Organizer</th>
          <th>Location</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @progressing_trainings.each do |training| %>
            <tr>
              <td><%= training.training_title %></td>
              <td><%= training.training_type %></td>
              <td><%= training.start_time %></td>
              <td><%= training.end_time %></td>
              <td><%= training.institution %></td>
              <td><%= training.location %></td>
              <td><%= link_to 'Details', training_path(training) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>Funding by program Area</h2>
        </div>
        <div class="body">
          <%= bar_chart funding_by_area_training_funds_path %>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>Number of Trainees by Program Area</h2>
        </div>
        <div class="body">
          <%= column_chart institution_trainees_by_area_trainees_path %>
        </div>
      </div>
    </div>
<% end %>